<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Bloom Journal</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
</body>
</html>

<main>
<section class="about-section">
    <div class="about-content">
         <h2>About Bloom Journal</h2>
    <p>
        Bloom Journal is a space to express thoughts, share stories, and capture emotions.
        Built with Node.js, Express, and EJS -- it's a reflection of creativity and simplicity.
    </p>
    <p>
        Designed and developed by <strong>Pranjali Verma</strong> with love and pastel dreams 
    </p>
    </div>
</section>
</main>

<%- include("partials/footer") %>
